.temp-margin {
    margin-top: 100px;
    margin-left: 50px;
}

.bottom-margin{
    margin-bottom: 40px;
}

.profile-photo {
    float: right;
    max-height: 50px;
}

.sticky-nav {
    position: sticky;
    top: 0;
}

.post-body {
    margin-top: 15px;
}

.form-container {
    width: 400px;
    margin: auto;
}

.register-button {
    margin-top: 20px;
    float: right;
}